body {
    font-family: 'Gruppo', cursive;
    color: white;
    font-weight: 900;
    font-size: 50px;
    height: 900px;
    width: 100% vw;
    background: rgb(255,254,254);
    background: linear-gradient(0deg, rgba(255,254,254,1) 0%, rgba(184,0,122,1) 46%, rgba(0,0,0,1) 100%);
}
span {
    display: grid;
    width: 100vw;
    grid-template-columns: 30(40px);
    grid-template-rows: 4(40px);
    position: absolute;

}

div {
    display: grid;
    position:relative;
    height: 40px;
    width: 40px;
    border: 3px solid black;
    margin: 1px;
}
.red {
    background-color: red;
}
.orange {
    background-color: orange;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: yellowgreen;
}
.blue {
    background-color: lightseagreen;
}
.violet {
    background-color: indigo;
}